<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>eBooks</title>
  </head>
  <body>
    <main class="container">
      {% if can_generate %}
      <form action="/generate" method="post">
        <input type="submit" class="outline" value="Generate new ttrss issue">
      </form>
      {% endif %}
      <ul>
        {% for file in files %}
        <li>
          <a href="{{base_url}}/{{file}}">{{file}}</a>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
